

.edit__container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: 10px; 
    
}

.edit__form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 430px;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-left: 36px;
    padding-right: 36px;
}

.edit__title{
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.813rem;
    color: #000000;
    margin: 0;
    margin-top: 34px;
}





.edit__input_type_career{
    margin-top: 35px;
    margin-bottom: 0;
}

.edit__input_type_name{
    margin-top: 54px;
}





.edit_closed{
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    
}







@media screen and (max-width: 500px){


    .edit__container{
        flex-direction: column;
        row-gap: 10px;
    }

    .edit__form{
        width: 320px;
    }

    .edit__title{
        font-size: 1.25rem;
    }



}



@media screen and (max-width: 350px){


    .edit__form{
        width: 282px;
        padding-left: 22px;
        padding-right: 22px;
        
    }

    .edit__title{
        font-weight: 900;
        font-size: 1.125rem;
        line-height: 1.563rem;
        margin-top: 1.563rem;
    }


    .edit__input_type_career{
        margin-top: 30px;
        margin-bottom: 45px;
    }
    
    .edit__input_type_name{
        margin-top: 54px;
    }



}
