.edit__container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: 10px; 
}

@media screen and (max-width: 500px){


    .edit__container{
        flex-direction: column;
        row-gap: 10px;
    }
}