
.edit-input{
    border-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 13.34px;
}



.edit-input_career{
    margin-top: 29.74px;
    margin-bottom: 48px;
}

.edit-input_name{
    margin-top: 54px;
}

@media screen and (max-width: 350px){


    .edit-input{
        font-weight: 400;
        font-size:0.875rem;
        line-height: 1.063rem;
        padding-bottom: 13px;
    }
    
    .edit-input_career{
        margin-top: 30px;
        margin-bottom: 45px;
    }
    
    .edit-input_name{
        margin-top: 54px;
    }


    
}
