
    .edit__button-closed{
        z-index: 11;
        height: 40px;
        width: 40px;
        align-self: flex-start;
        margin-top: -45px;
        transition-duration: 0.2s;
        background: none;
        border: none;
        padding: 0px;
    }
    
    
    .edit__button-closed:hover{
        opacity:0.6;
    }
    



@media screen and (max-width: 500px){
    .edit__button-closed{
        height: 26px;
        width: 26px;
        transition-duration: 0.2s;
        margin: 0;
        align-self: flex-end;
    }
}

