.element__icon-img{
    width: 21px;
    height:19px;
    transition-duration: 0.2s;
}

.element__icon-img:hover{
    opacity: 0.5;
}

.element__icon-img:active{
    background-image: url(../../../images/active_button.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity:1;

}