.element{
    box-sizing:border-box;
    max-width:282px;
    display: grid;
    grid-template-rows: 282px auto;
    background-color: white;
    border-radius: 10px;
    grid-template-areas:
    "pic"
    "name";
    
}

