.profile__button-edit{
    width: 25px;
    height: 25px;
    border: 1px solid hsl(0, 0%, 100%);
    box-sizing: border-box;
    background-color: black;
    background-image: url('../../../images/edited_button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    transition-duration: 0.3s;
    grid-area: btn;
    padding: 0;

}

.profile__button-edit:hover{
    opacity: 0.6;
}

.profile__button{
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: black;
    background-image: url('../../../images/add_button.svg');
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    transition-duration: 0.3s;
    
    }
    
    
    .profile__button:hover{
        opacity:0.6;
    }

    @media screen and (max-width: 900px) {

        .profile__button{
            width: 100%;
            margin-top: 36px;
            position: relative;
        }
    
    }
    

    @media screen and (max-width: 350px){
        .profile__button-edit{
            width:18px;
            height: 18px;
        }
    
        .profile__button{
            margin-top: 36px;
            margin-left: 19px;
            margin-right: 19px;
        }
    
    }