
.profile__info-name{
    margin:0;
    font-size: 42px;
    line-height: 114%;
    font-weight: 500;
    grid-area: name;
}

@media screen and (max-width: 600px) {
    .profile__info-name{
        font-weight: 500;
        font-size: 1.675rem;
        line-height: 1.788rem;
        text-align: center;
    }


}

@media screen and (max-width: 350px){
    


    .profile__info-name{
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 1.688rem;

    }

}