.header{
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 41px;
    margin-bottom: 36.25px;
    padding-top: 45px;
    
}







@media screen and (max-width: 320px){
    .header{
        gap: 32px;
        margin-bottom: 38.25px;
        padding-top: 28px;
    }
    

}    
