
.profile__info-career{
    margin:0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: career;

}


@media screen and (max-width: 900px) {

    .profile__info-career{
        text-align: center;
    }
}




@media screen and (max-width: 320px){


    .profile__info-career{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    }

}